[build-system]
requires = [
    "setuptools",
    "wheel",
]
build-backend = "setuptools.build_meta"

[project]
name = "geospaitial-lab-aviary"
description = "Composable inference and postprocessing pipeline for remote sensing data"
readme = "README.md"
authors = [
    {name = "Marius Maryniak", email = "marius.maryniak@w-hs.de"},
]
maintainers = [
    {name = "Marius Maryniak", email = "marius.maryniak@w-hs.de"},
]
license = {text = "GPL-3.0"}
requires-python = ">=3.10"
classifiers = [
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Scientific/Engineering :: GIS",
]
dynamic = [
    "dependencies",
    "optional-dependencies",
    "version",
]

[project.urls]
Homepage = "https://github.com/geospaitial-lab/aviary"
Documentation = "https://geospaitial-lab.github.io/aviary"

[project.scripts]
aviary = "aviary._cli.cli:app"

[tool.setuptools.dynamic]
dependencies = {file = "requirements.txt"}
optional-dependencies = {dev = {file = "dev/requirements.txt"}}
version = {attr = "aviary.__version__"}

[tool.setuptools.packages]
find = {where = ["."], include = ["aviary*"]}

[tool.coverage.run]
omit = [
    "aviary/_cli/*",
]

[tool.coverage.report]
exclude_also = [
    "def __repr__",
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
    "if TYPE_CHECKING:",
    "class .*\\bProtocol\\):",
    "@(abc\\.)?abstractmethod",
]

[tool.ruff]
line-length = 120
target-version = "py310"

[tool.ruff.lint]
extend-select = [
    "C901",
    "E",
    "W",
]
