geopandas==1.0.1
huggingface_hub==0.25.1
numpy==1.26.4
onnxruntime==1.19.2
pydantic==2.9.2
pyyaml==6.0.2
rasterio==1.4.1
requests==2.32.3
rich==13.8.1
shapely==2.0.6
simplification==0.7.12
topojson==1.9
typer==0.12.5
