geopandas>=1.0.0
huggingface_hub>=0.26.0
numpy>=2.0.0
onnxruntime>=1.19.0
pydantic>=2.9.0
pyyaml>=6.0.1
rasterio>=1.4.0
requests>=2.32.0
rich>=13.9.0
shapely>=2.0.4  # required for numpy>=2.0.0
simplification>=0.7.0
topojson>=1.9
typer>=0.12.0
