[data-md-color-scheme=default] {
  --md-default-fg-color: oklch(14.5% 0 0);
  --md-default-fg-color--light: oklch(14.5% 0 0 / 50%);
  --md-default-fg-color--lighter: oklch(14.5% 0 0 / 30%);
  --md-default-fg-color--lightest: oklch(14.5% 0 0 / 10%);
  --md-default-bg-color: oklch(100% 0 0);
  --md-default-bg-color--light: oklch(100% 0 0 / 50%);
  --md-default-bg-color--lighter: oklch(100% 0 0 / 30%);
  --md-default-bg-color--lightest: oklch(100% 0 0 / 10%);
  --md-code-fg-color: oklch(26.9% 0 0);
  --md-code-bg-color: oklch(97% 0 0);
  --md-code-hl-color: oklch(54.6% 0.245 262.881);
  --md-code-hl-number-color: oklch(57.7% 0.245 27.325);
  --md-code-hl-special-color: oklch(57.7% 0.245 27.325);
  --md-code-hl-function-color: oklch(66.6% 0.179 58.318);
  --md-code-hl-constant-color: var(--md-code-fg-color);
  --md-code-hl-keyword-color: oklch(54.6% 0.245 262.881);
  --md-code-hl-string-color: oklch(64.8% 0.2 131.684);
  --md-typeset-table-color: oklch(92.2% 0 0);
  --md-typeset-table-color--light: oklch(97% 0 0);
  --md-footer-bg-color: oklch(14.5% 0 0);
  --md-footer-bg-color--dark: oklch(14.5% 0 0);
}

[data-md-color-scheme=default] {
  --md-accent-fg-color: oklch(62.3% 0.214 259.815);
  --md-accent-fg-color--transparent: oklch(62.3% 0.214 259.815 / 20%);
}

[data-md-color-primary=white] {
  --md-primary-fg-color: oklch(100% 0 0);
  --md-primary-fg-color--light: oklch(100% 0 0 / 70%);
  --md-primary-fg-color--dark: oklch(100% 0 0 / 10%);
  --md-primary-bg-color: oklch(14.5% 0 0);
  --md-primary-bg-color--light: oklch(14.5% 0 0 / 50%);
  --md-typeset-a-color: oklch(54.6% 0.245 262.881);
}

[data-md-color-scheme=default] {
  --doc-symbol-attribute-fg-color: oklch(57.7% 0.245 27.325);
  --doc-symbol-function-fg-color: oklch(64.8% 0.2 131.684);
  --doc-symbol-method-fg-color: oklch(64.8% 0.2 131.684);
  --doc-symbol-class-fg-color: oklch(54.6% 0.245 262.881);
  --doc-symbol-module-fg-color: oklch(54.6% 0.245 262.881);
  --doc-symbol-attribute-bg-color: oklch(57.7% 0.245 27.325 / 20%);
  --doc-symbol-function-bg-color: oklch(64.8% 0.2 131.684 / 20%);
  --doc-symbol-method-bg-color: oklch(64.8% 0.2 131.684 / 20%);
  --doc-symbol-class-bg-color: oklch(54.6% 0.245 262.881 / 20%);
  --doc-symbol-module-bg-color: oklch(54.6% 0.245 262.881 / 20%);
}

[data-md-color-scheme=default] {
  .md-typeset .admonition,
  .md-typeset details {
    border-color: oklch(54.6% 0.245 262.881);
  }
  .md-typeset .admonition > .admonition-title,
  .md-typeset details > summary {
    background-color: oklch(54.6% 0.245 262.881 / 20%);
  }
  .md-typeset .admonition > .admonition-title::before,
  .md-typeset details > summary::before {
    background-color: oklch(54.6% 0.245 262.881);
  }
}

[data-md-color-scheme=slate] {
  --md-default-fg-color: oklch(98.5% 0 0);
  --md-default-fg-color--light: oklch(98.5% 0 0 / 50%);
  --md-default-fg-color--lighter: oklch(98.5% 0 0 / 30%);
  --md-default-fg-color--lightest: oklch(98.5% 0 0 / 10%);
  --md-default-bg-color: oklch(14.5% 0 0);
  --md-default-bg-color--light: oklch(14.5% 0 0 / 50%);
  --md-default-bg-color--lighter: oklch(14.5% 0 0 / 30%);
  --md-default-bg-color--lightest: oklch(14.5% 0 0 / 10%);
  --md-code-fg-color: oklch(92.2% 0 0);
  --md-code-bg-color: oklch(20.5% 0 0);
  --md-code-hl-color: oklch(70.7% 0.165 254.624);
  --md-code-hl-number-color: oklch(70.4% 0.191 22.216);
  --md-code-hl-special-color: oklch(70.4% 0.191 22.216);
  --md-code-hl-function-color: oklch(82.8% 0.189 84.429);
  --md-code-hl-constant-color: var(--md-code-fg-color);
  --md-code-hl-keyword-color: oklch(70.7% 0.165 254.624);
  --md-code-hl-string-color: oklch(84.1% 0.238 128.85);
  --md-typeset-table-color: oklch(26.9% 0 0);
  --md-typeset-table-color--light: oklch(20.5% 0 0);
  --md-footer-bg-color: oklch(14.5% 0 0);
  --md-footer-bg-color--dark: oklch(14.5% 0 0);
}

[data-md-color-scheme=slate] {
  --md-accent-fg-color: oklch(62.3% 0.214 259.815);
  --md-accent-fg-color--transparent: oklch(62.3% 0.214 259.815 / 20%);
}

[data-md-color-scheme=slate][data-md-color-primary=black] {
  --md-primary-fg-color: oklch(14.5% 0 0);
  --md-primary-fg-color--light: oklch(14.5% 0 0 / 50%);
  --md-primary-fg-color--dark: oklch(14.5% 0 0);
  --md-primary-bg-color: oklch(98.5% 0 0);
  --md-primary-bg-color--light: oklch(98.5% 0 0 / 70%);
  --md-typeset-a-color: oklch(70.7% 0.165 254.624);
}

[data-md-color-scheme=slate] {
  --doc-symbol-attribute-fg-color: oklch(70.4% 0.191 22.216);
  --doc-symbol-function-fg-color: oklch(84.1% 0.238 128.85);
  --doc-symbol-method-fg-color: oklch(84.1% 0.238 128.85);
  --doc-symbol-class-fg-color: oklch(70.7% 0.165 254.624);
  --doc-symbol-module-fg-color: oklch(70.7% 0.165 254.624);
  --doc-symbol-attribute-bg-color: oklch(70.4% 0.191 22.216 / 20%);
  --doc-symbol-function-bg-color: oklch(84.1% 0.238 128.85 / 20%);
  --doc-symbol-method-bg-color: oklch(84.1% 0.238 128.85 / 20%);
  --doc-symbol-class-bg-color: oklch(70.7% 0.165 254.624 / 20%);
  --doc-symbol-module-bg-color: oklch(70.7% 0.165 254.624 / 20%);
}

[data-md-color-scheme=slate] {
  .md-typeset .admonition,
  .md-typeset details {
    border-color: oklch(70.7% 0.165 254.624);
  }
  .md-typeset .admonition > .admonition-title,
  .md-typeset details > summary {
    background-color: oklch(70.7% 0.165 254.624 / 20%);
  }
  .md-typeset .admonition > .admonition-title::before,
  .md-typeset details > summary::before {
    background-color: oklch(70.7% 0.165 254.624);
  }
}
