html {
  overflow-y: scroll;
}

.md-header__topic:first-child {
  font-weight: normal;
}

.md-typeset h2:first-of-type {
  margin-top: 0;
}

.md-typeset h2 {
  transition: transform 500ms ease-in-out;
  transform-origin: left;
}

.md-typeset h2:hover {
  transition: transform 100ms ease-in-out;
  transform: scale(105%);
}
