html {
  overflow-y: scroll;
}

.md-header, .md-tabs {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 100%, 0.5);
}

[data-md-color-scheme=slate] .md-header,
[data-md-color-scheme=slate] .md-tabs {
  background-color: hsla(0, 0%, 6%, 0.5);
}

#logo_light_mode {
  display: var(--md-logo-light-mode);
}

#logo_dark_mode {
  display: var(--md-logo-dark-mode);
}

[data-md-color-scheme=default] {
  --md-logo-light-mode: block;
  --md-logo-dark-mode: none;
}

[data-md-color-scheme=slate] {
  --md-logo-light-mode: none;
  --md-logo-dark-mode: block;
}

.md-header__topic:first-child {
  font-weight: normal;
}

.md-typeset h2:first-of-type {
  margin-top: 0;
}

.toclink {
  color: unset !important;
}

.toclink:hover {
  color: var(--md-accent-fg-color) !important;
}

.md-main {
  padding-bottom: 1rem;
}
