name: Bump version

on:
  workflow_dispatch:
    inputs:
      bump_type:
        type: choice
        description: Type of bump
        options:
        - major
        - minor
        - patch
        required: true

permissions:
  contents: write
  pull-requests: write

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  bump_version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

      - name: Set up Python 3.12
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install -r dev/requirements/bump_version_requirements.txt

      - name: Bump version
        run: |
          echo "VERSION=$(python -m dev.scripts.get_version)" >> $GITHUB_ENV
          python -m dev.scripts.bump_version --bump-type ${{ github.event.inputs.bump_type }}
          echo "BUMPED_VERSION=$(python -m dev.scripts.get_version)" >> $GITHUB_ENV

      - name: Create pull request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          commit-message: bump version from ${{ env.VERSION }} to ${{ env.BUMPED_VERSION }}
          sign-commits: true
          branch: build/bump-version
          title: 'build: bump version from ${{ env.VERSION }} to ${{ env.BUMPED_VERSION }}'
          labels: |
            build
            ignore for release
          assignees: |
            mrsmrynk
          reviewers: |
            mrsmrynk
