name: Bump version

on:
  workflow_dispatch:
    inputs:
      bump_type:
        type: choice
        description: Type of bump
        options:
        - major
        - minor
        - patch
        required: true

permissions:
  contents: write
  pull-requests: write

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  bump_version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Set up Python 3.12
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install -r dev/requirements/bump_version_requirements.txt

      - name: Bump version
        run: |
          echo "VERSION=$(python -m dev.scripts.get_version)" >> $GITHUB_ENV
          python -m dev.scripts.bump_version --bump-type ${{ github.event.inputs.bump_type }}
          echo "BUMPED_VERSION=$(python -m dev.scripts.get_version)" >> $GITHUB_ENV

      - name: Create pull request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: bump version from ${{ env.VERSION }} to ${{ env.BUMPED_VERSION }}
          sign-commits: true
          branch: build/bump-version
          title: 'build: bump version from ${{ env.VERSION }} to ${{ env.BUMPED_VERSION }}'
          labels: |
            build
            ignore for release
          assignees: |
            mrsmrynk
          reviewers: |
            mrsmrynk
