name: Check dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    branches:
      - main
    paths:
      - '**/*requirements.txt'
      - '.github/workflows/check_dependencies.yaml'
  push:
    branches:
      - main
    paths:
      - '**/*requirements.txt'
      - '.github/workflows/check_dependencies.yaml'

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  check_dependencies:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        python-version:
          - '3.10'
          - '3.13'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7.3.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install .[all] -r dev/requirements.txt

      - name: Check dependencies with pip-audit
        run: |
          pip-audit --ignore-vuln CVE-2025-8869

  check_release_dependencies:
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'schedule'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        python-version:
          - '3.10'
          - '3.13'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7.3.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install geospaitial-lab-aviary -r dev/requirements/check_dependencies_requirements.txt

      - name: Check dependencies with pip-audit
        run: |
          pip-audit --ignore-vuln CVE-2025-8869
