name: Check links

on:
  workflow_dispatch:
#  schedule:
#    - cron: '0 0 * * *'
#  pull_request:
#    branches:
#      - main
#    paths:
#      - '**/*.html'
#      - '**/*.ipynb'
#      - '**/*.md'
#      - '.github/workflows/check_links.yaml'
#  push:
#    branches:
#      - main
#    paths:
#      - '**/*.html'
#      - '**/*.ipynb'
#      - '**/*.md'
#      - '.github/workflows/check_links.yaml'

permissions:
  contents: read
  issues: write

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  check_links:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3

      - name: Set up Python 3.12
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install -r dev/requirements/check_links_requirements.txt

      - name: Convert notebooks to markdown
        run: |
          find . -name "*.ipynb" -exec jupyter nbconvert --to markdown {} \;

      - name: Check links with lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: |
            --exclude .*\/maps\/.*\.html$
            --exclude-path docs/overrides/partials/copyright.html
            --exclude-path docs/overrides/partials/logo.html
            --user-agent curl
            .
          fail: |-
            ${{ github.event_name == 'pull_request' || github.event_name == 'push' }}

      - name: Create issue
        if: |
          env.lychee_exit_code != 0 &&
          (
            github.event_name == 'workflow_dispatch' ||
            github.event_name == 'schedule'
          )
        uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710 # v6.0.0
        with:
          title: 'Check links failed'
          content-filepath: ./lychee/out.md
          labels: |
            docs
          assignees: |
            mrsmrynk
