name: CI

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*requirements.txt'
      - '**/*.py'
      - '.github/workflows/ci.yaml'
      - 'pyproject.toml'
  push:
    branches:
      - main
    paths:
      - '**/*requirements.txt'
      - '**/*.py'
      - '.github/workflows/ci.yaml'
      - 'pyproject.toml'

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        python-version:
          - '3.10'
          - '3.13'
        dependencies:
          - latest
          - lower-bounds

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7.3.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install latest dependencies
        if: matrix.dependencies == 'latest'
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install .[all] -r dev/requirements/ci_requirements.txt

      - name: Install lower bounds dependencies
        if: matrix.dependencies == 'lower-bounds'
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install --resolution lowest-direct .[all] -r dev/requirements/ci_requirements.txt

      - name: Test with pytest
        run: |
          pytest --cov=./ --cov-report=xml

      - name: Upload coverage report to codecov
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Lint with ruff
        if: matrix.os == 'ubuntu-latest'
        run: |
          ruff check
