name: Build and deploy docs

on:
  release:
    types:
      - published
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/docs.yaml'
      - 'dev/mkdocs.yaml'
      - 'docs/**/*'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docs.yaml'
      - 'dev/mkdocs.yaml'
      - 'docs/**/*'

permissions:
  contents: write

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  build_docs:
    if: |
      github.event_name == 'pull_request' ||
      github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Set up Python 3.13
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install .[all] -r dev/requirements/docs_requirements.txt

      - name: Build maps
        run: |
          python -m docs.scripts.build_maps

      - name: Build docs
        run: |
          mkdocs build -f dev/mkdocs.yaml

  build_and_deploy_docs:
    if: |
      github.event_name == 'release'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Configure Git credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Set up Python 3.13
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install .[all] -r dev/requirements/docs_requirements.txt

      - name: Build maps
        run: |
          python -m docs.scripts.build_maps

      - name: Build and deploy docs
        run: |
          mkdocs gh-deploy -f dev/mkdocs.yaml --force
