name: Build and deploy docs

on:
  release:
    types:
      - published
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/docs.yaml'
      - 'dev/mkdocs.yaml'
      - 'docs/**/*'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docs.yaml'
      - 'dev/mkdocs.yaml'
      - 'docs/**/*'

permissions:
  contents: write

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  build_docs:
    if: |
      github.event_name == 'pull_request' ||
      github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Set up Python 3.12
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install .[all] -r dev/requirements/docs_requirements.txt

#      - name: Build maps
#        run: |
#          python -m docs.scripts.build_maps

      - name: Build docs
        run: |
          mkdocs build -f dev/mkdocs.yaml

  build_and_deploy_docs:
    if: |
      github.event_name == 'release'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Configure Git credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Set up Python 3.12
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install .[all] -r dev/requirements/docs_requirements.txt

#      - name: Build maps
#        run: |
#          python -m docs.scripts.build_maps

      - name: Build and deploy docs
        run: |
          mkdocs gh-deploy -f dev/mkdocs.yaml --force
