name: Build and deploy PyPI package

on:
  release:
    types:
      - published

permissions:
  contents: read

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  pypi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Set up Python 3.12
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          uv pip install --upgrade pip setuptools wheel
          uv pip install -r dev/requirements/pypi_requirements.txt

      - name: Build source distribution
        run: |
          python -m build --sdist

      - name: Deploy PyPI package
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          twine check dist/*
          twine upload --skip-existing dist/*
